:root {
  --headings-font-family-one: 'PT Sans Narrow', sans-serif;
  --paragraph-font-family-one: 'PT Sans Narrow', sans-serif;
  --second-headings-font-family-two: "Proxima Nova", cursive;
  --paragraph-font-family-two: "Proxima Nova", serif;
  --border-color-one: #5b604e;
  --circle-border-color-one: #113125;
  --background-color-one: #E2AE94;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
